## Pr√°ctica con la biblioteca Pandas

In [ ]:
import pandas as pd

In [ ]:
df_titanic = pd.read_csv('titanic.csv')

In [ ]:
df_titanic.head()

In [ ]:
df_nombre_sexo_edad = df_titanic[["Name","Sex","Age"]]

In [ ]:
df_nombre_sexo_edad.head(100)

In [ ]:
print(df_nombre_sexo_edad.Name[1])

In [ ]:
df_nombre_sexo_edad.shape

In [ ]:
df_nombre_sexo_edad = df_nombre_sexo_edad.dropna()

In [ ]:
df_nombre_sexo_edad.shape

In [ ]:
menores_de_10 = df_nombre_sexo_edad[df_nombre_sexo_edad["Age"] < 10]

In [ ]:
menores_de_10.head(20)

### Determinar sobrevivientes por Clase

In [ ]:
#Obtenemos el conjunto de datos de pasajeros en primera clase
primera_clase = df_titanic[df_titanic["Pclass"] == 1]

primera_clase.shape
total_primera_clase = primera_clase.shape[0]
print(total_primera_clase)
primera_clase_vivos = primera_clase[primera_clase["Survived"] > 0]
primera_clase_vivos.shape
total_primera_clase_vivos = primera_clase_vivos.shape[0]
print(total_primera_clase_vivos)
print(f"De {total_primera_clase} pasajeros en primera clase, sobrevivieron {total_primera_clase_vivos} \
que representan el {round(total_primera_clase_vivos/total_primera_clase*100,2)}%")

In [ ]:
#Obtenemos el conjunto de datos de pasajeros en tercera clase
tercera_clase = df_titanic[df_titanic["Pclass"] == 3]

tercera_clase.shape
total_tercera_clase = tercera_clase.shape[0]
print(total_tercera_clase)
tercera_clase_vivos = tercera_clase[tercera_clase["Survived"] > 0]
tercera_clase_vivos.shape
total_tercera_clase_vivos = tercera_clase_vivos.shape[0]
print(total_tercera_clase_vivos)
print(f"De {total_tercera_clase} pasajeros en tercera clase, sobrevivieron {total_tercera_clase_vivos} \
que representan el {round(total_tercera_clase_vivos/total_tercera_clase*100,2)}%")

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
sns.scatterplot(x=df_titanic["Pclass"], y=df_titanic["Age"], hue = df_titanic["Survived"])

In [ ]:
!pip install qrcode

In [ ]:
import qrcode

In [ ]:
vinculo = "https://www.kaggle.com/learn/pandas"
imagen = qrcode.make(vinculo)
imagen.save("codigo.png")